* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #1f2029;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.slide-list {
  display: flex;
}

.slide-item {
  padding: 0 10px;
  flex-shrink: 0;
  width: 90vw;
  cursor: grab;
}

.slide-content {
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: #070707b0 0px 12px 12px;
}

.slide-image {
  width: 100%;
  border-radius: 10px;
}

.slide-description {
  user-select: none;
  background: linear-gradient(to top, #000, transparent);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}

.slide-description h3 {
  font-family: 'Koulen', sans-serif;
  font-size: 48px;
  position: relative;
  top: 16px;
}

.slide-description p {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.slide-nav-button {
  background: transparent;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

.slide-nav-previous {
  left: 20px;
}

.slide-nav-next {
  right: 20px;
}

.slide-controls {
  margin: 30px auto 0;
}

.slide-control-button {
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin: 0 3px;
}

.slide-control-button.active {
  color: #cd8cf5;
}

@media screen and (max-width: 768px) {
  .slide-description {
    padding: 10px;
  }

  .slide-description h3 {
    font-size: 24px;
    top: 0;
  }

  .slide-description p {
    display: none;
  }

  .slide-control-button {
    font-size: 14px;
  }

  .slide-nav-button {
    margin-top: -20px;
    font-size: 28px;
  }
  
  .slide-nav-previous {
    left: 10px;
  }
  
  .slide-nav-next {
    right: 10px;
  }

  .slide-controls {
    margin: 15px auto 0;
  }
}
